.u-section-1 {
  background-image: url("images/ggh.jpg");
  background-position: 50% 50%;
  min-height: 1144px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 25px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 19px 49px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 731px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 481px;
  height: 339px;
  animation-duration: 1000ms;
  margin: 67px auto 0 53px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 49px auto 0 calc(((100% - 1140px) / 2) + 369px);
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -64px calc(((100% - 1140px) / 2) + 349px) 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 19px calc(((100% - 1140px) / 2) + 675px) 0 calc(((100% - 1140px) / 2) + 337px);
}

.u-section-1 .u-text-4 {
  margin: -25px calc(((100% - 1140px) / 2) + 308px) 60px calc(((100% - 1140px) / 2) + 685px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 815px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + 349px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 557px);
    margin-left: calc(((100% - 940px) / 2) + 278px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 208px);
    margin-left: calc(((100% - 940px) / 2) + 585px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 674px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 254px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 369px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 427px);
    margin-left: calc(((100% - 720px) / 2) + 213px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 98px);
    margin-left: calc(((100% - 720px) / 2) + 475px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 906px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 105px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.3125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 369px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 349px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 320px);
    margin-left: calc(((100% - 540px) / 2) + 160px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 8px);
    margin-left: calc(((100% - 540px) / 2) + 385px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 85px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 226px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + 276px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 276px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 201px);
    margin-left: calc(((100% - 340px) / 2) + 101px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 193px);
  }
}